<div class="container-book">
  <div class="container">
    <h1 class="title">Libros XML</h1>
    <div class="d-flex gap-2 justify-content-end">
      <button (click)="getInforme()" class="btn btn-outline-success" type="button" 
                    data-bs-toggle="modal" 
                    data-bs-target="#libroModal"
                    >Informe</button>
      
      <div class="dropdown">
        <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
          Filtrar
        </button>
        <form class="dropdown-menu p-3">
          <div class="mb-4">
            <label for="anoBusqueda" class="form-label">Año Publicación</label>
            <input type="number" class="form-control" id="anoBusqueda" placeholder="2020"
            maxlength="4" minlength="4"
            [formControl]="anoBusqueda">
          </div>
          <button (click)="getFiltro()" type="button" class="btn btn-outline-success">Search</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Total de libros con mas de dos Categorías
            <span class="badge text-bg-danger">@if (total) {
              {{ total }}
            }</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Porcentaje de libros publicados luego del año 2000
            <span class="badge text-bg-success">@if (percetage) {
              {{ percetage }} %
            }</span>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    
    @if (isSearchBooks) {
      <h4>Filtro de busqueda: </h4>
      Año publicación: 
      <span class="badge text-bg-success rounded-pill">{{ viewAno }}</span> 
    }
    <div class="row">
      @if(libroXmlList$; as libroXmlList) {
        @for(libroXml of libroXmlList; track libroXml.idLibro) {
         <div class="card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://png.pngtree.com/png-vector/20240414/ourlarge/pngtree-a-book-with-red-leather-cover-an-old-png-image_12288161.png" alt="..."
                width="100%" height="250" class="img-book">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ libroXml.nombre }}</h5>
                  <p class="card-text">{{ libroXml.descripcion }}</p>
                  <p class="card-text"><b>Autor(es):</b> {{ libroXml.autor }}</p>
                  <p class="card-text"><b>Año publicación: </b><span class="badge rounded-pill text-bg-success">{{ libroXml.ano }}</span></p>
                  <p class="card-text"><b>Categoria(s): </b><span class="badge text-bg-warning">{{ libroXml.categoria }}</span></p>
                </div>
              </div>
            </div>
          </div>
        }
      }
    </div>
  </div>
</div>
